/*****************************************************************/
/*	MAIN CSS                                                     */
/*****************************************************************/
/* line 26, ../scss/canny.scss */
.canny {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  left: -400px;
  top: 0;
  bottom: 0;
  z-index: 100;
  width: 400px;
  margin: 0;
  padding: 0;
  background-color: #404040;
  list-style: none;
}
@media only screen and (max-width: 767px) {
  /* line 26, ../scss/canny.scss */
  .canny {
    width: 290px;
  }
}
/* line 47, ../scss/canny.scss */
.canny a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  padding: 13px 20px 11px;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
}
/* line 60, ../scss/canny.scss */
.canny a:hover {
  background-color: #0d0d0d;
}

/* line 67, ../scss/canny.scss */
.canny-parent > a {
  position: relative;
}
/* line 70, ../scss/canny.scss */
.canny-parent > a:after {
  content: '\00BB';
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
  color: inherit;
}
/* line 81, ../scss/canny.scss */
.canny-parent.canny-sub-open > a {
  position: relative;
}
/* line 84, ../scss/canny.scss */
.canny-parent.canny-sub-open > a:after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 93, ../scss/canny.scss */
.canny-content-effects {
  /*@include transition(all, 300ms);
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -ms-filter: blur(4px);
  -o-filter: blur(4px);
  filter: blur(4px);*/
}

/*****************************************************************/
/*	SUBMENU                                                      */
/*****************************************************************/
/* line 106, ../scss/canny.scss */
.canny-submenu {
  -webkit-transition: all 300ms 0s ease;
  -moz-transition: all 300ms 0s ease;
  -o-transition: all 300ms 0s ease;
  transition: all 300ms 0s ease;
  display: none;
  margin: 0;
  padding: 0;
  background-color: #272727;
  list-style: none;
}
/* line 114, ../scss/canny.scss */
.canny-submenu.canny-sub-visible {
  display: block;
}

/* line 120, ../scss/canny.scss */
.canny-layered .canny-submenu {
  -webkit-box-shadow: 6px 0 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 6px 0 10px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 6px 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 6px 0 10px rgba(0, 0, 0, 0.4);
  display: block;
  position: absolute;
  top: 0;
  left: -103%;
  z-index: 30;
  width: 98%;
  min-height: 100%;
}
/* line 130, ../scss/canny.scss */
.canny-layered .canny-submenu.canny-sub-visible {
  left: 0;
}
/* line 134, ../scss/canny.scss */
.canny-layered .canny-submenu a {
  color: #404040;
}
/* line 137, ../scss/canny.scss */
.canny-layered .canny-submenu a:hover {
  background-color: #404040;
}
/* line 143, ../scss/canny.scss */
.canny-layered ul {
  background-color: #737373;
}
/* line 146, ../scss/canny.scss */
.canny-layered ul a {
  border-bottom: solid 1px #545454;
}
/* line 150, ../scss/canny.scss */
.canny-layered ul ul {
  background-color: #a6a6a6;
}
/* line 153, ../scss/canny.scss */
.canny-layered ul ul a {
  border-bottom: solid 1px #737373;
}

/*****************************************************************/
/*	BACK LINK                                                    */
/*****************************************************************/
/*****************************************************************/
/*	Close LINK                                                   */
/*****************************************************************/
/* line 173, ../scss/canny.scss */
.canny .canny-close {
  text-align: right;
}

/*****************************************************************/
/*	OVERLAY                                                      */
/*****************************************************************/
/* line 182, ../scss/canny.scss */
#canny-overlay {
  -webkit-transition: opacity 300ms 0s ease;
  -moz-transition: opacity 300ms 0s ease;
  -o-transition: opacity 300ms 0s ease;
  transition: opacity 300ms 0s ease;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 99;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 194, ../scss/canny.scss */
#canny-overlay.fading-in, #canny-overlay.visible {
  visibility: visible;
  opacity: 1;
  width: 100%;
  height: 100%;
}
/* line 202, ../scss/canny.scss */
#canny-overlay.fading-out {
  opacity: 0;
}
